<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem inventore deleniti tempora! Labore illum quo quis? Fuga adipisci nemo nulla, ab aperiam optio blanditiis quod sequi placeat veniam alias, facere ipsam, qui officiis harum deleniti. Ipsum quaerat officia ipsa iure ipsam, cupiditate enim quod architecto quibusdam, eos dolor corrupti?</p>
    </div>
</div>