<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, commodi! Libero saepe adipisci quo. Et itaque iste tenetur fugit, beatae nihil fugiat corrupti quos, ipsa, dicta magnam officiis incidunt accusamus.</p>
    <a href="http://indigosnetwork.com" class="btn btn-primary btn-lg">Indigos Network</a>
</div>